<!DOCTYPE html>
<html lang="es"> 
<head>
    <title>Softmovil</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Softmovil">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="plugins/fontawesome/js/all.min.js"></script>
    
    <!-- App CSS -->  
	<link rel="stylesheet" href="css/login.css" />

</head>
<body>
  <div class="container">
	<div class="forms-container">
	  <div class="signin-signup">
		<form method="POST" action="./" class="sign-in-form">
		  <h2 class="title">Iniciar Sesión</h2>
		  <div class="input-field">
			<i class="fas fa-user"></i>
			<input type="text" id="usuario" name="usuario" class="username" placeholder="Usuario" />
		  </div>

		  <div class="input-field">
			<i class="fas fa-lock"></i>
			<input
			  id="signin-password" 
			  type="password"
			  class="password"
			  placeholder="Contraseña"
			  name="password"
			/>
		  </div>
		  <input type="submit" value="Iniciar Sesión" class="btn solid" />

		  <p class="social-text">O Ingresa Con Tus Redes Sociales</p>
		  <div class="social-media">
			<a href="#" class="social-icon">
			  <i class="fab fa-facebook-f"></i>
			</a>
			<a href="#" class="social-icon">
			  <i class="fab fa-google"></i>
			</a>
		  </div>
		</form>
	  </div>
	</div>
	<div class="panels-container">
	  <div class="panel left-panel">
		<div class="content">
		  <h3>SoftMovil</h3>
		  <p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
			ullam deserunt totam vero doloremque quaerat.
		  </p>
		</div>
		<img src="images/Lost.svg" class="image" alt="shopping" />
	  </div>
	</div> 
  </div>
  <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
</body>
</html>


